.education-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.uiuc-card {
  height: 6em;
  display: flex;
  flex-direction: row;
  width: auto;
}

.entry-title {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.entry-title h2 {
  margin: 0px;
}

.classes-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 2rem;
}

.classes-container h4 {
    text-align: center;
    width: 100%;
    color: #34495e;
}

.classes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.class {
    display: flex;
    flex-direction: row;
    font-size: larger;
    justify-content: center;
    flex-wrap: wrap;
    padding: .5rem;
    margin: 1rem;
    border-radius: .5rem;
    text-align: center;
    color: white;
    cursor:pointer;
}

.orange:hover {
    background-color:transparentize($color: #E84A27f0, $amount: .5) !important;
}

.blue:hover {
    background-color:transparentize($color: #13294Bd9, $amount: .2) !important;
}