html,
body {
  height: 100%;
  min-height: 100%;
}
a {
  text-decoration: none;
  color: #fff;
}
a.active {
  border-bottom: 4px solid #85c2ffa4;
}
.header {
  height: auto;
}
#navbar-container {
  position: fixed;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  left: 0;
  top: 0;
  float: left;
  width: 100%;
  -ms-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
#navbar-container h1 {
  padding: 21rem 0;
  height: 100%;
  font-size: 7rem;
  text-align: center;
  line-height: 40px;
  -ms-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
#navbar-container.small {
  height: auto;
}

#navbar-container.small ul{
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 15px;
  transform: translateY(1rem);
}

#navbar-container.small h1 {
  padding: 1rem 0;
  margin-left: 2rem;
  height: auto;
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
}

body {
  font-family: "Open Sans", sans-serif;
}
nav {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
}
nav ul {
  padding: 20px;
  margin: 0 auto;
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
  margin: 0 10px;
}
nav ul li a {
  padding: 10px 0;
  color: #fff;
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: 520;
  transition: all 0.2s ease;
  cursor: default;
}
nav ul li a:hover {
  color: #85c2ff;
}
h1 {
  font-size: 5rem;
  color: #34495e;
  margin: 0rem;
}
section {
  min-height: 100vh;
  border-bottom: 1px solid #ccc;
  padding: 3rem 1rem;
}

section:nth-child(even) {
  background: #ecf0f1;
}
section:nth-child(odd) {
  background: #eff9ff;
}
.sections section:first-child {
  margin-top: 100px;
}

.is-current {
  color: brown;
  background-color: crimson;
}

.current {
  color: black;
}
