
#whole-container {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    height: 100vh;
}

#greetings {
    padding-top: 20rem;
    font-size: 3rem;
    padding-bottom: 10rem;
}

.about {
    font-size: 1.2rem;
}